canvas{
    border-style: none;
    border-width: 1px;
    border-color: rgb(183, 233, 158);
}

.jerry-border { border-style: solid }

.pointer { cursor: pointer;}

#main-container{
    max-width: 700px;
}